rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /trips/{tripId} {
      allow read: if (request.auth != null && resource.data.ownerId == request.auth.uid)
        || resource.data.visibility == "link";
      allow write: if false;
    }

    match /itineraries/{itineraryId} {
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
      allow write: if false;
    }

    match /users/{userId}/chats/{chatId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
