@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Google Maps InfoWindow custom styles */
.gm-style-iw-ch {
  display: flex !important;
  flex-wrap: wrap !important;
  height: 1px !important;
}

.gm-style-iw-chr {
  height: 1px !important;
}

.gm-ui-hover-effect {
  height: 1px !important;
}